.programkerja {
    background: rgb(192, 0, 0);
  }
  .programkerja .container .main_title h2 {
    color: white;
  }
  .programkerja .container .main_title p {
    color: rgb(221, 221, 221);
  }

  .feature_item {
    padding: 50px 35px;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 4px 7px 43px -3px rgba(0,0,0,0.54);
    -webkit-box-shadow: 4px 7px 43px -3px rgba(0,0,0,0.54);
    -moz-box-shadow: 4px 7px 43px -3px rgba(0,0,0,0.54);;
  }